body, html, p, h1, ul, li {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  background-color: #ddd;
}
a {
  text-decoration: none;
  color: inherit;
}
ul, li {
  list-style: none;
}


/* Header */
.header {
  /* background-color: #bc8f8f; */
  background-color: #e2a593;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  max-width: 430px;
  margin: 0 auto;
  text-align: center;
  color: #4b1414;
  font-weight: 600;
}
.menu {
  padding: 35px 10px;
  width: 70px;
  font-size: 24px;
  cursor: pointer;
}
.main-img {
  width: 100px;
  padding: 10px;
}
.main-name {
  margin: 0 auto;
  font-size: 30px;
}


/* Modal */
.modal {
  background-color: #bc7867;
  position: absolute;
  width: 100%;
  z-index: 1000;
}
.modal div {
  color: #8d3131;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  border-top: 1px solid #8d3131;
  width: 100%;
}
.modal_menu {
  display: block;
  width: 100%;
  padding: 10px 0;
}
.modal div:hover {
  color: #4b1414;
}


/* Daiso */
.daiso {
  width: 100%;
  position: relative;
  max-width: 430px;
  margin: 0 auto;
  text-align: center;
}


/* Shop */
.shop {
  width: 100%;
  position: relative;
  max-width: 430px;
  margin: 0 auto;
  text-align: center;
}