body, html, p, h1, ul, li {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  background-color: #f5eeee;
  color: #4b1414;
}
a {
  text-decoration: none;
  color: inherit;
}
ul, li {
  list-style: none;
}


/* Header */
.header {
  /* background-color: #bc8f8f; */
  background-color: #e2a593;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  max-width: 430px;
  margin: 0 auto;
  text-align: center;
  color: #4b1414;
  font-weight: 600;
}
.menu {
  padding: 35px 10px;
  width: 70px;
  font-size: 24px;
  cursor: pointer;
}
.main-img {
  width: 100px;
  padding: 10px;
}
.main-name {
  margin: 0 auto;
  font-size: 30px;
}


/* Modal */
.modal {
  background-color: #bc7867;
  position: absolute;
  width: 100%;
  z-index: 1000;
}
.modal div {
  color: #8d3131;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  border-top: 1px solid #8d3131;
  width: 100%;
}
.modal_menu {
  display: block;
  width: 100%;
  padding: 10px 0;
}
.modal div:hover {
  color: #4b1414;
}


/* Main */
.main {
  width: 100%;
  position: relative;
  max-width: 430px;
  margin: 0 auto;
  text-align: center;
}
.main_wrap {
  padding: 20px 0;
}
.main_box {
  padding-bottom: 50px;
}
.main_grouped {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  /* gap: 23px; */
}
.main_items {
  width: 120px;
  /* border: 1px solid #4b1414; */
  font-size: 12px;
  cursor: pointer;
}
.main_items img {
  width: 120px;
  opacity: 0.7;
}
.main_items img:hover {
  opacity: 1;
}
.main-title {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  align-items: baseline;
}
.main-title h2 {
  margin: 0;
  padding-left: 50px;
}
.more {
  font-size: 12px;
  padding-left: 20px;
}


/* ImageModal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content {
  width: 280px;
  background: #f5eeee;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
.modal-content img {
  max-width: 100%;
  height: auto;
}
.modal-text {
  padding: 20px 0;
  font-size: 14px;
  color: #4b1414;
  line-height: 22px;
}
.close-button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #e2a593;
  color: #4b1414;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}


/* Doll */
.doll {
  width: 100%;
  position: relative;
  max-width: 430px;
  margin: 0 auto;
  text-align: center;
}


/* Figures */
.figures {
  width: 100%;
  position: relative;
  max-width: 430px;
  margin: 0 auto;
  text-align: center;
}